In [59]:
#data cleaning
import pandas as pd
from dateutil import parser
from sklearn.impute import KNNImputer

#plot
import matplotlib.pyplot as plt

In [60]:
#data read-in
df = pd.read_csv(r"C:\Users\lamma\Side Project\Used car price modelling\vehicles.csv")
gdp_data = pd.read_csv(r"C:\Users\lamma\Side Project\Used car price modelling\us_gdp.csv")

In [61]:
df.drop(['id', 'region', 'url', 'region_url', 'cylinders', 'VIN', 'size', 'condition', 'image_url','transmission', 'fuel', 'description','paint_color','title_status', 'drive', 'type', 'county', 'lat', 'long'], axis=1, inplace=True)
gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year

C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1960' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1961' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1962' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1963' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1964' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1965' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1966' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1967' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1968' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1969' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1970' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1971' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1972' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1973' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1974' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1975' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1976' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1977' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1978' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1979' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1980' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1981' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1982' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1983' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1984' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1985' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1986' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1987' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1988' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1989' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1990' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1991' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1992' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1993' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1994' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1995' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1996' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1997' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1998' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/1999' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2000' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2001' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2002' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2003' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2004' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2005' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2006' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2007' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2008' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2009' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2010' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\691611410.py:2: UserWarning: Parsing '31/12/2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year

In [62]:
df

,price,year,manufacturer,model,odometer,state,posting_date
0,6000,NaN,NaN,NaN,NaN,az,NaN
1,11900,NaN,NaN,NaN,NaN,ar,NaN
2,21000,NaN,NaN,NaN,NaN,fl,NaN
3,1500,NaN,NaN,NaN,NaN,ma,NaN
4,4900,NaN,NaN,NaN,NaN,nc,NaN
...,...,...,...,...,...,...,...
426875,23590,2019.0,nissan,maxima s sedan 4d,32226.0,wy,2021-04-04T03:21:31-0600
426876,30590,2020.0,volvo,s60 t5 momentum sedan 4d,12029.0,wy,2021-04-04T03:21:29-0600
426877,34990,2020.0,cadillac,xt4 sport suv 4d,4174.0,wy,2021-04-04T03:21:17-0600
426878,28990,2018.0,lexus,es 350 sedan 4d,30112.0,wy,2021-04-04T03:21:11-0600
426879,30590,2019.0,bmw,4 series 430i gran coupe,22716.0,wy,2021-04-04T03:21:07-0600

In [63]:
gdp_data

,date,GDP ( Billions of US $),Per Capita (US $),Annual % Change,year
0,31/12/1960,543.30000,3007.1234,NaN,1960
1,31/12/1961,563.30000,3066.5629,2.3000,1961
2,31/12/1962,605.10000,3243.8431,6.1000,1962
3,31/12/1963,638.60000,3374.5152,4.4000,1963
4,31/12/1964,685.80000,3573.9412,5.8000,1964
...,...,...,...,...,...
57,31/12/2017,19477.33655,59907.7543,2.2419,2017
58,31/12/2018,20533.05731,62823.3094,2.9454,2018
59,31/12/2019,21380.97612,65120.3947,2.2944,2019
60,31/12/2020,21060.47361,63530.6335,-2.7678,2020
61,31/12/2021,23315.08056,70248.6290,5.9455,2021

In [64]:
cleaned_df = df.dropna(subset=['year', 'manufacturer', 'odometer', 'posting_date', 'model'])
cleaned_df['year'] = cleaned_df['year'].astype(int)
cleaned_df['state'] = df['state'].str.upper()

# Parse the date strings in the column using dateutil.parser
cleaned_df['posting_date'] = cleaned_df['posting_date'].apply(lambda x: parser.parse(x))
cleaned_df['posting_year'] = pd.to_datetime(cleaned_df['posting_date'], format='%Y-%m-%d %H:%M:%S%z', utc=True).dt.year
cleaned_df.drop('posting_date', axis=1)

C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\847854495.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['year'] = cleaned_df['year'].astype(int)
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\847854495.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['state'] = df['state'].str.upper()
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\847854495.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['posting_date'] = cleaned_df['posting_date'].apply(lambda x: parser.parse(x))
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\847854495.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['posting_year'] = pd.to_datetime(cleaned_df['posting_date'], format='%Y-%m-%d %H:%M:%S%z', utc=True).dt.year

,price,year,manufacturer,model,odometer,state,posting_year
27,33590,2014,gmc,sierra 1500 crew cab slt,57923.0,AL,2021
28,22590,2010,chevrolet,silverado 1500,71229.0,AL,2021
29,39590,2020,chevrolet,silverado 1500 crew,19160.0,AL,2021
30,30990,2017,toyota,tundra double cab sr,41124.0,AL,2021
31,15000,2013,ford,f-150 xlt,128000.0,AL,2021
...,...,...,...,...,...,...,...
426875,23590,2019,nissan,maxima s sedan 4d,32226.0,WY,2021
426876,30590,2020,volvo,s60 t5 momentum sedan 4d,12029.0,WY,2021
426877,34990,2020,cadillac,xt4 sport suv 4d,4174.0,WY,2021
426878,28990,2018,lexus,es 350 sedan 4d,30112.0,WY,2021
426879,30590,2019,bmw,4 series 430i gran coupe,22716.0,WY,2021

In [65]:
cleaned_df

,price,year,manufacturer,model,odometer,state,posting_date,posting_year
27,33590,2014,gmc,sierra 1500 crew cab slt,57923.0,AL,2021-05-04 12:31:18-05:00,2021
28,22590,2010,chevrolet,silverado 1500,71229.0,AL,2021-05-04 12:31:08-05:00,2021
29,39590,2020,chevrolet,silverado 1500 crew,19160.0,AL,2021-05-04 12:31:25-05:00,2021
30,30990,2017,toyota,tundra double cab sr,41124.0,AL,2021-05-04 10:41:31-05:00,2021
31,15000,2013,ford,f-150 xlt,128000.0,AL,2021-05-03 14:02:03-05:00,2021
...,...,...,...,...,...,...,...,...
426875,23590,2019,nissan,maxima s sedan 4d,32226.0,WY,2021-04-04 03:21:31-06:00,2021
426876,30590,2020,volvo,s60 t5 momentum sedan 4d,12029.0,WY,2021-04-04 03:21:29-06:00,2021
426877,34990,2020,cadillac,xt4 sport suv 4d,4174.0,WY,2021-04-04 03:21:17-06:00,2021
426878,28990,2018,lexus,es 350 sedan 4d,30112.0,WY,2021-04-04 03:21:11-06:00,2021
426879,30590,2019,bmw,4 series 430i gran coupe,22716.0,WY,2021-04-04 03:21:07-06:00,2021

In [66]:
#data grouping
west_coast = ['WA', 'OR', 'CA']
east_coast = ['ME', 'NH', 'VT', 'MA', 'RI', 'CT', 'NY', 'NJ', 'PA', 'DE', 'MD', 'VA', 'NC', 'SC', 'GA', 'FL']
gulf_coast = ['AL', 'MS', 'LA', 'TX']
midwest = ['OH', 'IN', 'IL', 'MI', 'WI', 'MN', 'IA', 'MO', 'ND', 'SD', 'NE', 'KS']
mountain = ['MT', 'ID', 'WY', 'NV', 'UT', 'CO', 'AZ', 'NM']
southwest = ['OK', 'TX']
northwest = ['AK']
hawaii = ['HI']
alaska = ['AK']

coast_mapping = {
    'West Coast': west_coast,
    'East Coast': east_coast,
    'Gulf Coast': gulf_coast,
    'Midwest': midwest,
    'Mountain': mountain,
    'Southwest': southwest,
    'Northwest': northwest,
    'Hawaii': hawaii,
    'Alaska': alaska
}

cleaned_df['Coast'] = cleaned_df['state'].apply(lambda x: next((coast for coast, states in coast_mapping.items() if x in states), 'Other'))

C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\3468515937.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Coast'] = cleaned_df['state'].apply(lambda x: next((coast for coast, states in coast_mapping.items() if x in states), 'Other'))

In [67]:
cleaned_df = cleaned_df.drop(['posting_date'], axis=1)

In [68]:
gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year

C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1960' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1961' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1962' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1963' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1964' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1965' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1966' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1967' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1968' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1969' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1970' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1971' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1972' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1973' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1974' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1975' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1976' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1977' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1978' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1979' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1980' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1981' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1982' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1983' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1984' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1985' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1986' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1987' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1988' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1989' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1990' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1991' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1992' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1993' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1994' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1995' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1996' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1997' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1998' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/1999' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2000' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2001' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2002' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2003' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2004' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2005' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2006' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2007' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2008' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2009' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2010' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year
C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\4246055168.py:1: UserWarning: Parsing '31/12/2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  gdp_data['year'] = pd.to_datetime(gdp_data['date']).dt.year

In [69]:
gdp_data

,date,GDP ( Billions of US $),Per Capita (US $),Annual % Change,year
0,31/12/1960,543.30000,3007.1234,NaN,1960
1,31/12/1961,563.30000,3066.5629,2.3000,1961
2,31/12/1962,605.10000,3243.8431,6.1000,1962
3,31/12/1963,638.60000,3374.5152,4.4000,1963
4,31/12/1964,685.80000,3573.9412,5.8000,1964
...,...,...,...,...,...
57,31/12/2017,19477.33655,59907.7543,2.2419,2017
58,31/12/2018,20533.05731,62823.3094,2.9454,2018
59,31/12/2019,21380.97612,65120.3947,2.2944,2019
60,31/12/2020,21060.47361,63530.6335,-2.7678,2020
61,31/12/2021,23315.08056,70248.6290,5.9455,2021

In [70]:
gdp_data = gdp_data.drop(['date', ' GDP ( Billions of US $)', ' Per Capita (US $)'], axis=1)

In [71]:
merged_data = pd.merge(cleaned_df, gdp_data, on='year', how='left')

In [72]:
merged_data

,price,year,manufacturer,model,odometer,state,posting_year,Coast,Annual % Change
0,33590,2014,gmc,sierra 1500 crew cab slt,57923.0,AL,2021,Gulf Coast,2.2878
1,22590,2010,chevrolet,silverado 1500,71229.0,AL,2021,Gulf Coast,2.7089
2,39590,2020,chevrolet,silverado 1500 crew,19160.0,AL,2021,Gulf Coast,-2.7678
3,30990,2017,toyota,tundra double cab sr,41124.0,AL,2021,Gulf Coast,2.2419
4,15000,2013,ford,f-150 xlt,128000.0,AL,2021,Gulf Coast,1.8419
...,...,...,...,...,...,...,...,...,...
399878,23590,2019,nissan,maxima s sedan 4d,32226.0,WY,2021,Mountain,2.2944
399879,30590,2020,volvo,s60 t5 momentum sedan 4d,12029.0,WY,2021,Mountain,-2.7678
399880,34990,2020,cadillac,xt4 sport suv 4d,4174.0,WY,2021,Mountain,-2.7678
399881,28990,2018,lexus,es 350 sedan 4d,30112.0,WY,2021,Mountain,2.9454
399882,30590,2019,bmw,4 series 430i gran coupe,22716.0,WY,2021,Mountain,2.2944

In [73]:
cleaned_data = merged_data[(merged_data['price'] <= 100000) & (merged_data['price'] >= 1000) 
                           & (merged_data['year'] >= 2000) 
                           & (merged_data['odometer'] <= 500000) ]

In [74]:
cleaned_data

,price,year,manufacturer,model,odometer,state,posting_year,Coast,Annual % Change
0,33590,2014,gmc,sierra 1500 crew cab slt,57923.0,AL,2021,Gulf Coast,2.2878
1,22590,2010,chevrolet,silverado 1500,71229.0,AL,2021,Gulf Coast,2.7089
2,39590,2020,chevrolet,silverado 1500 crew,19160.0,AL,2021,Gulf Coast,-2.7678
3,30990,2017,toyota,tundra double cab sr,41124.0,AL,2021,Gulf Coast,2.2419
4,15000,2013,ford,f-150 xlt,128000.0,AL,2021,Gulf Coast,1.8419
...,...,...,...,...,...,...,...,...,...
399878,23590,2019,nissan,maxima s sedan 4d,32226.0,WY,2021,Mountain,2.2944
399879,30590,2020,volvo,s60 t5 momentum sedan 4d,12029.0,WY,2021,Mountain,-2.7678
399880,34990,2020,cadillac,xt4 sport suv 4d,4174.0,WY,2021,Mountain,-2.7678
399881,28990,2018,lexus,es 350 sedan 4d,30112.0,WY,2021,Mountain,2.9454
399882,30590,2019,bmw,4 series 430i gran coupe,22716.0,WY,2021,Mountain,2.2944

In [75]:
# Create the KNN Imputer object
imputer = KNNImputer(n_neighbors=582)

# Apply the imputation
cleaned_data['Annual % Change'] = imputer.fit_transform(cleaned_data[[' Annual % Change']])

C:\Users\lamma\AppData\Local\Temp\ipykernel_40080\118632528.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['Annual % Change'] = imputer.fit_transform(cleaned_data[[' Annual % Change']])

In [78]:
cleaned_data.drop([' Annual % Change'], axis=1)

,price,year,manufacturer,model,odometer,state,posting_year,Coast,Annual % Change
0,33590,2014,gmc,sierra 1500 crew cab slt,57923.0,AL,2021,Gulf Coast,2.2878
1,22590,2010,chevrolet,silverado 1500,71229.0,AL,2021,Gulf Coast,2.7089
2,39590,2020,chevrolet,silverado 1500 crew,19160.0,AL,2021,Gulf Coast,-2.7678
3,30990,2017,toyota,tundra double cab sr,41124.0,AL,2021,Gulf Coast,2.2419
4,15000,2013,ford,f-150 xlt,128000.0,AL,2021,Gulf Coast,1.8419
...,...,...,...,...,...,...,...,...,...
399878,23590,2019,nissan,maxima s sedan 4d,32226.0,WY,2021,Mountain,2.2944
399879,30590,2020,volvo,s60 t5 momentum sedan 4d,12029.0,WY,2021,Mountain,-2.7678
399880,34990,2020,cadillac,xt4 sport suv 4d,4174.0,WY,2021,Mountain,-2.7678
399881,28990,2018,lexus,es 350 sedan 4d,30112.0,WY,2021,Mountain,2.9454
399882,30590,2019,bmw,4 series 430i gran coupe,22716.0,WY,2021,Mountain,2.2944

In [80]:
cleaned_data.to_csv('concat_data.csv')